# {{ ansible_managed }}

Listen {{ graphite_api_webserver_listen }} http
<VirtualHost {{ graphite_api_vhost_address }}>
  WSGIDaemonProcess graphite-api processes=1 threads=1 \
      display-name=’%{GROUP}’ inactivity-timeout=120
  WSGIProcessGroup graphite-api
  WSGIApplicationGroup %{GLOBAL}
  WSGIImportScript /var/www/wsgi-scripts/graphite-api.wsgi \
      process-group=graphite-api application-group=%{GLOBAL}
  WSGIScriptAlias / /var/www/wsgi-scripts/graphite-api.wsgi
  <Directory /var/www/wsgi-scripts/>
    Require all granted
  </Directory>
</VirtualHost>