{{ ansible_managed | comment }}

[common]
user = "{{ gocarbon_user }}"
graph-prefix = "carbon.agents.{host}"
metric-endpoint = "local"
max-cpu = {{ gocarbon_max_cpu }}
metric-interval = "{{ gocarbon_metric_interval }}"

[whisper]
data-dir = "{{ gocarbon_storage_dir }}/whisper/"
schemas-file = "/etc/go-carbon/storage-schemas.conf"
{% if gocarbon_storage_aggregation | length > 0 %}
aggregation-file = "/etc/go-carbon/storage-aggregation.conf"
{% else %}
aggregation-file = ""
{% endif %}
quotas-file = ""
workers = {{ gocarbon_whisper_workers }}
max-updates-per-second = 0
sparse-create = false
physical-size-factor = 0.75
flock = false
compressed = false
enabled = true
hash-filenames = true
remove-empty-file = false
online-migration = false
online-migration-rate = 5
online-migration-global-scope = ""

[cache]
max-size = {{ gocarbon_cache_max_size }}
write-strategy = "max"

[carbonserver]
listen = "{{ gocarbon_carbonserver_listen }}"
enabled = {{ gocarbon_carbonserver_enabled }}

[udp]
listen = "{{ gocarbon_upd_listen }}"
enabled = {{ gocarbon_udp_enabled }}
buffer-size = 0

[tcp]
listen = "{{ gocarbon_tcp_listen }}"
enabled = {{ gocarbon_tcp_enabled }}
buffer-size = 0
compression = ""

[carbonlink]
listen = "{{ gocarbon_carbonlink_listen }}"
enabled = {{ gocarbon_carbonlink_enabled }}
read-timeout = "30s"

[pickle]
listen = "{{ gocarbon_pickle_listen }}"
max-message-size = 67108864
enabled = {{ gocarbon_pickle_enabled }}
buffer-size = 0

{% if gocarbon_extra_conf | length > 0 %}
{{ gocarbon_extra_conf }}
{% endif %}

[[logging]]
logger = ""
file = "{{ gocarbon_logging_file }}"
level = "{{ gocarbon_logging_severity }}"
encoding = "mixed"
encoding-time = "iso8601"
encoding-duration = "seconds"
sample-tick = ""
sample-initial = 0
sample-thereafter = 0
